/*Geral*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/*Navbar*/
.navbar{
    background-color: #9d1847;
    justify-content: center;
    text-align: center;
    color: #FFF;
    justify-content: space-between;
}

.navbar img{
    width: 6%;
}

.navbar a i{
    font-size: 30px;
    text-decoration: none;
    color: #FFF;
}

/*Cards*/
.card{
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    border: 4px solid #e92569;
    text-align: center;
    background-color: #9D1847;
    transition: 0.5s;
}

.card:hover{
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    text-align: center;
    background-color: #f1f1f1;
    cursor: help;

}

.card p{
    text-decoration: none;
    color: #FFF;
    font-size: 20px;  
    transition: 0.5s;
}

.card:hover p{
    text-decoration: none;
    color: #9D1847;
    font-size: 20px;
    font-weight: bold;
}

.card .card-title{
    text-decoration: none;
    color: #FFF;
    font-size: 20px;  
    transition: 0.5s;
}

.card:hover .card-title{
    text-decoration: none;
    color: #9D1847;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
}

.card-title{
    font-weight: bold;
    text-transform: uppercase;
    color: #FFF;
    transition: 0.5s;
}

/*Barra de rolagem*/

::-webkit-scrollbar {
    width: 20px;
    height: 10px;
    }
    
    
    ::-webkit-scrollbar-track {
    background:#F9F9F9;
    }
    
    ::-webkit-scrollbar-thumb {
    background: #9d1847;
    }