/*Geral*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/*Navbar*/
.navbar{
    background-color: #9d1847;
    justify-content: center;
    text-align: center;
    color: #FFF;
    justify-content: space-between;
}

.navbar a{
    width: 6%;
}

.navbar a img{
    width: 100%;
}

.navbar a i{
    font-size: 30px;
    text-decoration: none;
    color: #FFF;
}

/*Cards*/
.card{
    margin-top: 20%;
    border: 4px solid #e92569;
    text-align: center;
    background-color: #9D1847;
    transition: 0.5s;
}

.card:hover{
    margin-top: 20%;
    border: 4px solid #65DAF9;
    text-align: center;
    background-color: #ccc;
}

.card a{
    text-decoration: none;
    color: #FFF;
    font-size: 20px;
    font-weight: bold; 
    text-transform: uppercase; 
    transition: 0.5s;
}

.card:hover a{
    text-decoration: none;
    color: #242424;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 4px;
}

/*Comunicação Institucional*/

.comunicacao_institucional{
    padding-top: 15px;
    background-color: lightgrey;
    margin-top: 35px;
    padding-left: 25px;
    padding-right: 35px;
    width: 100%;
    padding-bottom: 35px;
}

.title_comunicacao{
    margin-top: 35px;
}

.title_comunicacao p{
    font-size: 55pt;
}

.subtitle_comunicacao p{
    padding-top: 25px;
    font-size: 35pt;
    color: #9d1847;
}


.card_pergunta{
    margin-left: 65px;
    border: #9d1847 solid;
    margin-top: 30px;
    padding-top: 15px;
    width: 1200px;
    background-color: darkgrey;
    padding-left: 40px;
    padding-bottom: 15px;
}

.imagem_comunicacao img{
    width: 1120px;
}

.responsavel_comunicacao p strong{
    background-color: #9d1847;
    color: white;
}

.title_card_comunicacao p strong{
    background-color: white;
    color: #9d1847;
    font-size: 20pt;
}


.descricao_comunicacao{
    width: 1120px;
    margin-top: 5px;
}

.descricao_comunicacao p{
    font-size: 12pt;
}

/*Barra de rolagem*/

::-webkit-scrollbar {
    width: 20px;
    height: 10px;
    }
    
    
    ::-webkit-scrollbar-track {
    background:#F9F9F9;
    }
    
    ::-webkit-scrollbar-thumb {
    background: #9d1847;
    }